 
 body{
   margin: 0;
   background-color: #D6EAF8;
 }  
 #container{
   margin-left: 10px;
   margin-right: 10px;
 }
  ul 
   {
    list-style-type: row;
    margin: 0px;
    padding: 0px;
    }
    header{
      background-color: lightskyblue;
      padding: 12px;
      width: 100%;
      border-bottom: 10px solid #c0c0c0;
      border-top: 10px solid #c0c0c0;
    }
    
  .main-nav li
    {
       float: left;
       list-style: none;
       margin-top: auto;
       color: white;
       text-decoration: none;
       padding: 10px ;
       Font-family:'Roboto',Georgia,'Times New Roman',serif;
       font-weight: 500;
       font-size: 1.21em;
    }
   .center 
    {
      margin-left: auto;
      margin-right: auto;
      width: 35%;
      padding-top: 120px;
     
        }

       
    .main-picture{
      border-radius: 35%;
    }
  h1
    {
       color: #0A043C;
       font-family: 'Quattrocento', Georgia, 'Times New Roman', Times, sans-serif;
       font-weight: 700;
       font-size: 2.2em;
       margin: 0;
       text-align: left;
       text-indent: 90px;
    }  
  
  h2 
    {
      color: #0A043C;
      Font-family:'Roboto',Georgia,'Times New Roman',serif;
      font-weight: 700;
      font-size: 1.21em;
      word-spacing: .24em;
      margin: 0;
      text-align: center;
      padding-top: 5px;  
      background-color:#c0c0c0;
   }
   h2:hover{
     color: white;
   }

 h3
 {
   font-family: 'Quattrocento', Georgia, 'Times New Roman', Times, sans-serif;
   font-weight: 400;
   font-size: 1.141em;
   word-spacing: .54em;
   margin: 0;
   text-align: left;
   padding-top: 5px;   
   text-indent: 30px;
}
    
    p {
        font-family:'Quattrocento',Georgia,'Times New Roman',serif;
        font-weight:400;
        line-height: 1.4em;
        font-size: 1.141em;
        word-spacing: .5em;
        margin: 0;
        text-align: left;
        padding-top: 15px;   
        text-indent: 30px;
      } 

      a
      {
        font-family:'Quattrocento',Georgia,'Times New Roman',serif;
        text-align: center;
        font-size: 1.25em;
        font-weight: bold;
         color:#000080	;
         text-decoration: none;
      }
      a:hover 
       {
        background-color:#f0f8ff;
      }
       
       .sentence 
       {
        font-style: italic;
        font-family: 'Roboto', Georgia, 'Times New Roman', Times, sans-serif;
        font-weight: 500;
        color:black
      }
      *{
        box-sizing: border-box;
      }
      .images{
          display: grid;
           grid-template-columns: auto auto auto;
           grid-gap: 10px;
           margin-bottom: 100px;
           font-family: 'Quattrocento', Verdana, Arial, sans-serif;
           text-align: center;
           font-style: italic;
           font-size: .75em;
           font-weight: 700;
      }
      figcaption{
        font-family: 'Quattrocento', Georgia, 'Times New Roman', Times, sans-serif;
        font-weight: 400;
        text-align: center;
        color: #0A043C;
        font-size: 1.50em;

      }
      
    #footer 
    {
      background-color: lightskyblue;
      padding: 12px;
      border-top: 10px solid #c0c0c0		;
      border-bottom: 10px solid #c0c0c0		;
    }
   .top {
    float: right;
    margin-bottom: 5px;
   }
